.advantages {
  padding-bottom: 48px;
  border-bottom: 1px solid $border-color;

  @media (min-width: $tablet-width) {
    padding: 0;
  }

  @media (min-width: $desktop-width) {
    padding: 0 110px;
    border: none;
  }
}

.advantages__title {
  margin: 0;
  padding: 8px 20px 38px 20px;
  font: 36px/40px $main-font;
  color: $basic-black;

  @media (min-width: $tablet-width) {
    padding: 50px 0 72px 30px;
    font: 60px/60px $main-font;
  }

  @media (min-width: $desktop-width) {
    padding: 0;
    padding-bottom: 72px;
  }
}

.advantages__list {
  margin: 0;
  padding: 0 20px 0 20px;
  list-style-type: none;
  font: 14px/18px $second-font;
  color: $special-dark-grey;

  @media (min-width: $tablet-width) {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    padding: 0 30px 105px 30px;
    font: 16px/24px $second-font;
    counter-reset: list-counter;
  }

  @media (min-width: $desktop-width) {
    grid-template-columns: 230px 246px 248px 250px;
    grid-column-gap: 94px;
    padding: 0;
  }
}

.advantages__item:not(:last-child) {
  padding-bottom: 26px;

  @media (min-width: $tablet-width) {
    padding-bottom: 130px;
  }

  @media (min-width: $desktop-width) {
    padding-bottom: 127px;
  }
}

.advantages__item:nth-child(3) {
  @media (min-width: $tablet-width) {
    padding-bottom: 0;
  }

  @media (min-width: $desktop-width) {
    margin-left: -13px;
  }
}

.advantages__item {
  position: relative;
  padding-left: 80px;

  @media (min-width: $tablet-width) {
    padding-left: 0;
  }
}

.advantages__item--4 {
  @media (min-width: $desktop-width) {
    margin-left: -31px;
  }
}

.advantages__item::after {
  @media (min-width: $tablet-width) {
    counter-increment: list-counter;
    content: counter(list-counter);
    font: 280px/280px $main-font;
    color: $basic-grey;
    position: absolute;
    top: -36px;
    right: 134px;
    z-index: -1;
  }

  @media (min-width: $desktop-width) {
    right: 0;
  }
}

.advantages__item--1::after {
  @media (min-width: $tablet-width) {
    top: -37px;
    right: 152px;
  }

  @media (min-width: $desktop-width) {
    right: 0;
  }
}

.advantages__item--3::after {
  @media (min-width: $desktop-width) {
    right: 14px;
  }
}

.advantages__item--4::after {
  @media (min-width: $desktop-width) {
    right: 32px;
  }
}

.advantages__item::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 60px;
  height: 60px;
  background-repeat: no-repeat;
  background-position: 0 0;
  display: block;

  @media (min-width: $tablet-width) {
    width: 80px;
    height: 80px;
    background-size: 80px 80px;
    margin-bottom: 31px;
    margin-right: 303px;
    position: static;
  }
}

.advantages__item--1::before {
  background-image: url("../img/nutrients.svg");
}

.advantages__item--2::before {
  background-image: url("../img/whey.svg");
}

.advantages__item--3::before {
  background-image: url("../img/eating.svg");
}

.advantages__item--4::before {
  background-image: url("../img/results.svg");
}

.advantages__item-text {
  margin: 0;
  padding: 0;
  max-width: 249px;

  @media (min-width: $desktop-width) {
    max-width: 250px;
  }
}
