.decor {
  position: relative;

  @media (min-width: $tablet-width) {
    width: 100%;
  }
}

.decor::before {
  content: " ";
  height: 2px;
  background-color: $basic-green;
  width: calc(100vw - 40px);
  top: 50%;
  left: 20px;
  position: absolute;
  margin-left: 0;

  @media (min-width: $tablet-width) {
    width: 100vw;
    left: 50%;
    margin-left: calc(-50vw + 37px);
  }

  @media (min-width: $desktop-width) {
    margin-left: -50vw;
  }
}

.decor__wrap {
  background-color: $basic-white;
  padding-right: 22px;
  position: relative;
  display: inline-block;

  @media (min-width: $tablet-width) {
    padding-left: 37px;
    padding-right: 42px;
  }

  @media (min-width: $desktop-width) {
    margin-left: -38px;
  }
}
