.decor {
  position: relative;
}

.decor__wrap {
  background-color: $basic-white;
  padding-right: 22px;
  position: relative;
  display: inline-block;

  @media (min-width: $tablet-width) {
    padding-left: 37px;
    padding-right: 42px;
  }

  @media (min-width: $desktop-width) {
    margin-left: -38px;
  }
}

.decor::before {
  content: " ";
  height: 2px;
  background-color: $basic-green;
  width: 200vw;
  top: 50%;
  left: 0;
  position: absolute;

  @media (min-width: $tablet-width) {
    left: -100vw;
  }
}
