.example {
  background-color: $grey-background;
  padding-bottom: 32px;
  position: relative;

  @media (min-width: $tablet-width) {
    padding-bottom: 72px;
    background-color: $basic-white;
  }

  @media (min-width: $desktop-width) {
    padding: 0 110px 10px 110px;
  }
}

.example::after,
.example::before {
  @media (min-width: $desktop-width) {
    content: "";
    position: absolute;
    top: 134px;
    bottom: 0;
    right: 394px;
    background-color: $basic-grey;
    width: 200vw;
  }
}

.example::before {
  @media (min-width: $desktop-width) {
    left: calc(100% - 394px);
    background-color: $grey-background;
  }
}

.example__wrapper {
  padding: 0 20px 0 20px;
  position: relative;
  z-index: 1;

  @media (min-width: $tablet-width) {
    padding: 0 30px 0 30px;
  }

  @media (min-width: $desktop-width) {
    padding: 0;
    display: flex;
  }
}

.example__subwrapper {
  @media (min-width: $desktop-width) {
    margin-right: 11px;
  }
}

.example__title {
  margin: 0;
  padding: 26px 0 33px 0;
  font: 36px/40px $main-font;
  color: $basic-black;

  @media (min-width: $tablet-width) {
    padding: 43px 0 63px 0;
    font: 60px/60px $main-font;
  }

  @media (min-width: $desktop-width) {
    padding: 0;
    padding-bottom: 76px;
  }
}

.example__description {
  margin: 0;
  padding: 0;
  padding-bottom: 25px;
  font: 14px/18px $second-font;
  color: $special-dark-grey;

  @media (min-width: $tablet-width) {
    padding-bottom: 54px;
    font: 16px/24px $second-font;
  }

  @media (min-width: $desktop-width) {
    width: 436px;
    padding-top: 72px;
    padding-bottom: 64px;
  }
}

.example__container {
  padding-bottom: 46px;

  @media (min-width: $tablet-width) {
    display: flex;
    padding-bottom: 37px;
  }

  @media (min-width: $desktop-width) {
    display: inline-block;
  }
}

.example__results {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 31px;
  padding-bottom: 30px;

  @media (min-width: $tablet-width) {
    margin-right: 167px;
    grid-template-columns: repeat(2, 162px);
    grid-gap: 42px;
  }

  @media (min-width: $desktop-width) {
    padding-bottom: 41px;
  }
}

.example__result-item {
  border: 1px solid $border-color;
  border-radius: 3px;
}

.example__result {
  padding: 14px 0 8px 0;
  margin-top: 0;
  margin-bottom: 0;
  font: 24px/24px $main-font;
  text-transform: uppercase;
  text-align: center;

  @media (min-width: $tablet-width) {
    font: 30px/37px $main-font;
    padding: 15px 0 10px 0;
  }
}

.example__result-description {
  padding: 0 12px;
  margin: 0;
  font: 12px/12px $second-font;
  color: $special-dark-grey;
  text-align: center;
  background-color: $grey-background;
  margin-bottom: -12px;
  width: 60px;
  margin-right: auto;
  margin-left: auto;

  @media (min-width: $tablet-width) {
    font: 14px/14px $second-font;
    background-color: $basic-grey;
    width: 128px;
    margin-bottom: -8px;
  }
}

.example__cost {
  padding: 0;
  margin: 0;
  font: 14px/20px $main-font;
  text-align: center;
  color: $basic-black;
  text-transform: uppercase;

  @media (min-width: $tablet-width) {
    text-align: right;
    padding-top: 10px;
    font: 20px/20px $main-font;
  }

  @media (min-width: $desktop-width) {
    text-align: left;
    padding-top: 21px;
    display: flex;
  }
}

.example__text {
  padding-bottom: 10px;
  margin: 0;

  @media (min-width: $tablet-width) {
    display: block;
  }

  @media (min-width: $desktop-width) {
    margin-right: 63px;
  }
}

.example__slide {
  margin-bottom: 27px;
  width: 311px;
  height: 108%;
  margin-left: -22px;

  @media (min-width: $tablet-width) {
    width: 100%;
    height: 100%;
    margin-left: 0;
    margin-bottom: -154px;
  }

  @media (min-width: $desktop-width) {
    margin-top: -54px;
    margin-bottom: -125px;
  }
}

.example__image {
  @media (min-width: $desktop-width) {
    margin-left: 28px;
  }
}

.example__range {
  display: flex;
  position: relative;
  margin-right: 40px;
  margin-left: 45px;

  @media (min-width: $tablet-width) {
    padding-top: 85px;
    margin-right: 67px;
    margin-left: 67px;
  }

  @media (min-width: $desktop-width) {
    padding: 0;
    margin: 0;
    padding-top: 89px;
    margin-left: 104px;
  }
}

.example__before {
  font: 16px/20px $main-font;
  text-transform: uppercase;
  padding: 0;
  margin: 0;
  margin-right: 18px;
  border: none;
  background: none;

  @media (min-width: $tablet-width) {
    font: 20px/30px $main-font;
    border-bottom: 1px dotted $basic-black;
    margin-right: 26px;
  }

  &:hover {
    border-bottom: 1px solid $basic-black;
  }

  &:active {
    border: none;
  }
}

.example__after {
  font: 16px/20px $main-font;
  text-transform: uppercase;
  padding: 0;
  margin: 0;
  margin-left: 15px;
  border: none;
  background: none;

  @media (min-width: $tablet-width) {
    font: 20px/30px $main-font;
    margin-left: 20px;
    border-bottom: 1px dotted $basic-black;
  }

  &:hover {
    border-bottom: 1px solid $basic-black;
  }

  &:active {
    border: none;
  }
}

.example__scale {
  width: 84px;
  height: 14px;
  box-sizing: border-box;
  border-radius: 6px;
  border: 1px solid $radio-buttons-color;
  padding: 4px;
  position: relative;
  background-color: $basic-white;
  overflow: hidden;

  @media (min-width: $tablet-width) {
    padding: 0;
    margin-top: 16px;
    height: 6px;
    width: 428px;
    background-color: $scale-tablet-color;
  }
}

.example__scale-point {
  position: absolute;
  border-radius: 6px;
  background-color: $basic-green;
  height: 6px;
  width: 35px;
  top: 3px;
  left: 3px;
  transform: translateX(var(--scale-move));
  cursor: pointer;

  @media (min-width: $tablet-width) {
    background: transparent;
  }
}

.example__toggle {
  @media (min-width: $tablet-width) {
    cursor: pointer;
    left: 270px;
    position: absolute;
    width: 8px;
    height: 8px;
    background-color: $basic-green;
    border: 13px solid $basic-white;
    border-radius: 50%;
    box-shadow: 0 1px 3px rgba($basic-black, 0.16);
  }

  &:hover {
    box-shadow: 0 2px 4px rgba($basic-black, 0.19);
  }

  &:active {
    box-shadow: 0 3px 5px rgba($basic-black, 0.2);
  }
}
