.visually-hidden {
  display: none;
}

img {
  max-width: 100%;
  height: auto;
}

.button {
  display: block;
  text-decoration: none;
  background-color: $basic-green;
  color: $basic-white;
  text-align: center;
  text-transform: uppercase;
}

.decor {
  position: relative;
}

.decor__wrap {
  background-color: $basic-white;
  padding-right: 22px;
  position: relative;
  display: inline-block;

  @media (min-width: $tablet-width) {
    padding-left: 37px;
  }

  @media (min-width: $desktop-width) {
    margin-left: -38px;
  }
}

.form__catdata-textfield::-webkit-inner-spin-button,
.form__catdata-textfield::-webkit-outer-spin-button {
  appearance: none;
  margin: 0;
}
