.visually-hidden {
  display: none;
}

img {
  max-width: 100%;
  height: auto;
}

.button {
  display: block;
  text-decoration: none;
  background-color: $basic-green;
  color: $basic-white;
  text-align: center;
  text-transform: uppercase;
}

.decor{
  position: relative;
}

.decor__wrap{
  background-color: $basic-white;
  padding-right: 22px;
  position: relative;
  display: inline-block;
  @media (min-width: $tablet-width) {
    padding-left: 37px;
  }

  @media (min-width: $desktop-width) {
    margin-left: -38px;
  }
}

.decor:before{
  content: ' ';
  height: 2px;
  background-color: $basic-green;
  width: 200vw;
  top: 50%;
  left: 0;
  position: absolute;
  @media (min-width: $tablet-width) {
    left: -100vw;
  }
}

.test {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  pointer-events: none;
  opacity: 0.5;
  z-index: 5;
}

.form__catdata-textfield::-webkit-inner-spin-button,
.form__catdata-textfield::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin:0;
}
