.main-food {
  padding: 27px 0 25px 0;
  border-bottom: 1px solid $main-nav-borders;

  @media (min-width: $tablet-width) {
    padding: 0 30px 45px 30px;
    border: none;
  }

  @media (min-width: $desktop-width) {
    padding: 74px 110px 76px 110px;
  }
}

.main-food__title {
  margin: 0;
  padding: 0 20px 41px 20px;
  font: 36px/36px $main-font;
  color: $basic-black;
  border-bottom: 1px solid $main-nav-borders;

  @media (min-width: $tablet-width) {
    font: 60px/60px $main-font;
    padding: 0 0 165px 0;
    border: none;
  }

  @media (min-width: $desktop-width) {
    // padding: 0 0 84px 0;
  }
}

.main-food__list {
  list-style-type: none;
  margin: 0;
  padding: 0;

  @media (min-width: $tablet-width) {
    list-style-type: none;
    margin: 0 0 25px 0;
    padding: 0;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 142px 60px;
  }

  @media (min-width: $desktop-width) {
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 145px 80px;
    margin: 0;
  }
}

.main-food__item {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 17px 20px 25px 20px;
  color: $main-food-item-titles;
  background-color: $basic-white;
  border-bottom: 1px solid $border-color;

  @media (min-width: $tablet-width) {
    grid-template-columns: 1fr;
    justify-content: center;
    background-color: $basic-grey;
    padding: 0;
    padding-left: 38px;
    padding-right: 38px;
    padding-bottom: 37px;
  }

  @media (min-width: $desktop-width) {
    padding-left: 40px;
    padding-right: 33px;
    padding-bottom: 40px;
    border: none;
  }
}

.main-food__item:last-child {
  border: none;
}

.main-food__img {
  display: grid;
  place-content: center;

  @media (min-width: $tablet-width) {
    margin-top: -100px;
    margin-bottom: 29px;
    margin-left: auto;
    margin-right: auto;
    height: 230px;
    width: 160px;
    display: block;
  }

  @media (min-width: $desktop-width) {
    margin-top: -105px;
    margin-bottom: 45px;
    height: 223px;
    width: 168px;
  }
}

.main-food__item-image {
  @media (min-width: $tablet-width) {
    object-fit: contain;
    object-position: bottom center;
    width: 100%;
    height: 100%;
  }
}

.main-food__detail {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding-bottom: 22px;
  color: $special-dark-grey;
  font: 12px/16px $second-font;

  @media (min-width: $tablet-width) {
    font: 16px/16px $second-font;
    padding-bottom: 25px;
  }

  @media (min-width: $desktop-width) {
    padding-bottom: 27px;
  }
}

.main-food__label {
  margin: 0;

  @media (min-width: $tablet-width) {
    padding-bottom: 7px;
    margin-bottom: 8px;
    border-bottom: 1px solid $radio-buttons-color;
  }

  @media (min-width: $desktop-width) {
    padding-bottom: 7px;
    margin-bottom: 7px;
  }
}

.main-food__label:nth-child(even) {
  text-align: right;
}

.main-food__item-link {
  margin: 0;
  grid-column: 1/-1;

  padding: 10px 109px;
  // margin: 0 20px;
  font: 16px/20px $main-font;

  @media (min-width: $tablet-width) {
    padding: 10px 93px;
  }

  @media (min-width: $tablet-width) {
    padding: 10px 53px;
  }
}

.main-food__item-title {
  margin-top: 0;
  margin-bottom: 16px;
  font: 16px/20px $main-font;
  max-width: 76px;
  text-transform: uppercase;

  @media (min-width: $tablet-width) {
    text-align: center;
    font: 20px/24px $main-font;
    margin-bottom: 24px;
    max-width: 174px;
    margin-right: 52px;
    margin-left: 56px;
  }

  @media (min-width: $desktop-width) {
    font: 20px/21px $main-font;
    max-width: 145px;
    margin-right: 20px;
    margin-left: 20px;
  }
}

.more {
  display: block;
  padding: 18px 20px 0 20px;
  box-sizing: border-box;
  border: none;

  @media (min-width: $tablet-width) {
    background: none;
    border: 2px solid $basic-grey;
    padding: 18px 36px 0 36px;
  }
  // margin: 25px 145px 23px 145px;
  @media (min-width: $desktop-width) {
    // padding: 51px 38px 40px 38px;
    padding: 0;
    border: 1px solid $border-color;
  }
}

.more__link {
  display: block;
  text-align: center;
  padding-top: 8px;
  padding-bottom: 20px;

  @media (min-width: $tablet-width) {
    padding-top: 34px;
    padding-bottom: 46px;
  }

  @media (min-width: $desktop-width) {
    padding-top: 51px;
    padding-left: 55px;
    padding-right: 56px;
    padding-bottom: 49px;
  }
}

.more__plus {
  @media (min-width: $tablet-width) {
    width: 60px;
    height: 60px;
  }
}

.more__title {
  padding: 0;
  margin: 0;
  font: 16px/20px $main-font;
  color: $second-black;
  text-transform: uppercase;
  text-align: center;

  @media (min-width: $tablet-width) {
    font: 20px/22px $main-font;
    padding: 0 55px 23px 55px;
  }

  @media (min-width: $desktop-width) {
    padding: 0 52px 23px 48px;
    // padding: 0;
  }
}

.more__tastes {
  padding: 0;
  margin: 8px 0 21px 0;
  font: 12px/16px $second-font;
  color: $special-dark-grey;
  text-align: center;

  @media (min-width: $tablet-width) {
    font: 16px/18px $second-font;
    margin: 0 30px 87px 30px;
  }

  @media (min-width: $desktop-width) {
    margin: 0 10px 12px 19px;
    padding-bottom: 74px;
  }
}

.more__link-all {
  display: block;
  text-decoration: none;
  font: 16px/20px $main-font;
  color: $special-dark-grey;
  text-transform: uppercase;
  text-align: center;
  // margin: 0 20px;
  padding: 10px 94px;
  background-color: $basic-grey;

  &:hover {
    background-color: $show-more-food;
  }

  &:active {
    color: rgba($special-dark-grey, 0.3);
  }

  @media (min-width: $tablet-width) {
    font: 16px/0 $main-font;
    padding: 20px 78px;
  }

  @media (min-width: $desktop-width) {
    font: 16px/0 $main-font;
    padding: 20px 42px;
    margin: 0 29px;
  }
}
