.page-body {
  min-height: 100%;
  margin: 0 auto;
  padding: 0;
  font: 20px/20px $main-font;
  color: $basic-black;
  background-color: $basic-white;
  width: 320px;
  overflow-x: hidden;

  @media (min-width: $tablet-width) {
    width: 768px;
  }

  @media (min-width: $desktop-width) {
    width: 1440px;
  }
}


.page {
  height: 100%;
}
