.wrapper {
  overflow: hidden;

  @media (min-width: $desktop-width) {
    padding-left: 110px;
    padding-right: 110px;
    display: grid;
    grid-template-columns: 1fr 245px;
    grid-column-gap: 80px;
  }
}
