.advantages {
  padding-bottom: 42px;
}

.advantages__wrapper {
  width: 280px;
  margin: 0 auto;
}

.advantages__title {
  padding-bottom: 38px;
  font: normal 36px/40px $main-font;
  color: $basic-black;
}

.advantages__list {
  list-style: none;
  font: normal 14px/18px $main-font;
  color: $special-dark-grey;
}

.advantages__item:not(:last-child) {
  padding-bottom: 20px;
}

.advantages__item {
  position: relative;
  padding-left: 80px;
}

.advantages__item:first-child::before {
  content: "";
    position: absolute;
    top: 0;
    left: 0px;
    width: 60px;
    height: 60px;
    background-image: url("../img/nutrients.svg");
    background-repeat: no-repeat;
    background-position: 0 0;
}

.advantages__item:nth-child(2)::before {
  content: "";
    position: absolute;
    top: 0;
    left: 0px;
    width: 60px;
    height: 60px;
    background-image: url("../img/whey.svg");
    background-repeat: no-repeat;
    background-position: 0 0;
}

.advantages__item:nth-child(3)::before {
  content: "";
    position: absolute;
    top: 0;
    left: 0px;
    width: 60px;
    height: 60px;
    background-image: url("../img/eating.svg");
    background-repeat: no-repeat;
    background-position: 0 0;
}

.advantages__item:last-child::before {
  content: "";
    position: absolute;
    top: 0;
    left: 0px;
    width: 60px;
    height: 60px;
    background-image: url("../img/results.svg");
    background-repeat: no-repeat;
    background-position: 0 0;
}
