.example {
  background-color: $grey-background;
  padding-bottom: 32px;

  @media (min-width: $tablet-width) {
    // display: flex;
    // flex-wrap: wrap;
    // margin-right: 153px;
    padding-bottom: 72px;
    background-color: $basic-white;
  }

  @media (min-width: $desktop-width) {
    // display: flex;
    // flex-wrap: wrap;
    // margin-right: 94px;
    padding: 0 110px 70px 110px;
  }
}

.example__wrapper {
  padding: 0 20px 0 20px;

  @media (min-width: $tablet-width) {
    padding: 0 30px 0 30px;
    background-color: $basic-white;
  }

  @media (min-width: $desktop-width) {
    padding: 0;
  }
}

.example__title {
  margin: 0;
  padding: 26px 0 33px 0;
  font: 36px/40px $main-font;
  color: $basic-black;

  @media (min-width: $tablet-width) {
    padding: 43px 0 63px 0;
    font: 60px/60px $main-font;
  }

  @media (min-width: $desktop-width) {
    padding: 0;
    padding-bottom: 76px;
  }
}

.example__description {
  margin: 0;
  padding: 0;
  padding-bottom: 25px;
  font: 14px/18px $second-font;
  color: $special-dark-grey;

  @media (min-width: $tablet-width) {
    padding-bottom: 54px;
    font: 16px/24px $second-font;
  }
}

.example__container {
  padding-bottom: 46px;

  @media (min-width: $tablet-width) {
    display: flex;
    padding-bottom: 42px;
  }
}

.example__results {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 31px;
  padding-bottom: 30px;

  @media (min-width: $tablet-width) {
    margin-right: 167px;
    grid-template-columns: repeat(2, 162px);
    grid-gap: 42px;
  }
}

.example__result {
  padding: 0;
  margin-top: 0;
  margin-bottom: 9px;
  font: 24px/24px $main-font;
  text-transform: uppercase;
  text-align: center;

  @media (min-width: $tablet-width) {
    font: 30px/37px $main-font;
  }
}

.example__result-description {
  padding: 0 12px;
  margin: 0;
  font: 12px/12px $second-font;
  color: $special-dark-grey;
  text-align: center;
  // background-color: $grey-background;
  margin-bottom: -12px;
  width: 60px;
  margin-right: auto;
  margin-left: auto;

  @media (min-width: $tablet-width) {
    font: 14px/14px $second-font;
    background-color: $basic-white;
  }
}

.example__results-weight {
  padding: 11px 8px 0 8px;
  border: 1px solid $border-color;

  @media (min-width: $tablet-width) {
    // padding: 15px 30px 20px 71px;
  }
}

.example__results-period {
  padding: 11px 8px 0 8px;
  border: 1px solid $border-color;

  @media (min-width: $tablet-width) {
    padding: 13px 8px 0 27px;
  }
}

.example__cost {
  padding: 0;
  margin: 0;
  font: 14px/20px $main-font;
  text-align: center;
  color: $basic-black;
  text-transform: uppercase;

  @media (min-width: $tablet-width) {
    text-align: right;
    padding-top: 10px;
    font: 20px/20px $main-font;
  }
}

.example__text {
  padding-bottom: 10px;
}

.example__image {
  margin-bottom: 53px;

  @media (min-width: $tablet-width) {
    margin-bottom: -67px;
  }
}
