.form__catdata {
  border: 0 none;
  border-bottom: 1px solid $border-color;
  margin: 0;
  padding: 0 20px 11px 20px;

  @media (min-width: $tablet-width) {
    padding: 0 67px 72px 70px;
    border: 0 none;
  }

  @media (min-width: $desktop-width) {
    padding: 0 112px 69px 110px;
  }
}

.form__catdata-label {
  display: block;
  font: 16px/18px $main-font;
  color: $special-dark-grey;
  text-transform: uppercase;

  @media (min-width: $tablet-width) {
    font: 20px/29.6px $main-font;
  }
}

.form__catdata-textfield {
  margin: 0 0 13px 11px;
  padding: 0;
  width: 228px;
  height: 45px;
  box-sizing: border-box;
  border: 1px solid $input-color;

  @media (min-width: $tablet-width) {
    width: 450px;
    height: 52px;
    margin: 0 0 20px 10px;
    padding: 0;
  }

  @media (min-width: $tablet-width) {
    margin: 0 0 20px 15px;
  }

  &::placeholder {
    font: 16px/18px $main-font;
    color: $special-dark-grey;
    text-transform: uppercase;
    padding-left: 14px;

    @media (min-width: $tablet-width) {
      font: 20px/29.6px $main-font;
      padding-left: 19px;
    }
  }
}

.form__program {
  border: 0 none;
  border-bottom: 1px solid $border-color;
  margin: 0;
  padding: 22px 20px 6px 20px;

  @media (min-width: $tablet-width) {
    margin: 0 70px 70px 70px;
    padding: 25px 0 25px 28px;
    border: 1px solid $border-color;
  }
}

.form__program-label {
  display: block;
  font: 16px/18px $main-font;
  color: $special-dark-grey;
  text-transform: uppercase;
  margin-bottom: 13px;

  @media (min-width: $tablet-width) {
    font: 20px/29.6px $main-font;
    margin-bottom: 18px;
  }
}

.form__ownerdata {
  border: 0 none;
  margin: 0;
  padding: 0;
  padding-bottom: 9px;

  @media (min-width: $tablet-width) {
    padding-bottom: 45px;
  }

  @media (min-width: $desktop-width) {
    padding-bottom: 69px;
  }
}

.form__ownerdata-legend {
  margin: 0;
  padding: 26px 20px 35px 20px;
  font: 24px/26px $main-font;
  color: $basic-black;

  @media (min-width: $tablet-width) {
    font: 36px/36px $main-font;
    padding: 0 0 76px 70px;
  }

  @media (min-width: $desktop-width) {
    padding: 0 0 76px 110px;
  }
}

.form__ownerdata-label {
  padding: 0 20px 14px 20px;
  font: 16px/18px $main-font;
  color: $special-dark-grey;
  text-transform: uppercase;

  @media (min-width: $tablet-width) {
    font: 20px/29.6px $main-font;
    padding: 0 65px 65px 70px;
  }
}

.form__ownerdata-textfield {
  width: 200px;
  height: 45px;
  box-sizing: border-box;
  border: 1px solid $input-color;
  margin: 0 0 14px 8px;

  @media (min-width: $tablet-width) {
    font: 20px/29.6px $main-font;
    width: 405px;
    height: 52px;
    padding: 0 0 30px 18px;
    margin: 0 0 20px 14px;
  }

  &::placeholder {
    font: 16px/18px $main-font;
    color: $special-dark-grey;
    text-transform: uppercase;
    padding-left: 16px;

    @media (min-width: $tablet-width) {
      font: 20px/29.6px $main-font;
      padding-left: 21px;
    }
  }
}

.form__comment {
  border: 0 none;
  margin: 0;
  padding: 0;
}

.form__comment-legend {
  margin: 0;
  padding: 0 20px 37px 20px;
  font: 24px/26px $main-font;
  color: $basic-black;

  @media (min-width: $tablet-width) {
    padding: 0 0 76px 70px;
  }

  @media (min-width: $desktop-width) {
    padding: 0 0 76px 110px;
  }
}

.form__comment-textfield {
  box-sizing: border-box;
  border: 1px solid $input-color;
  margin: 0 20px 23px 20px;
  resize: none;

  @media (min-width: $tablet-width) {
    margin: 0 67px 65px 70px;
  }

  @media (min-width: $desktop-width) {
    margin: 0 110px 67px 110px;
  }

  &::placeholder {
    font: 16px/18px $main-font;
    color: $special-dark-grey;
    text-transform: uppercase;
    padding: 9px 7px 0 7px;

    @media (min-width: $tablet-width) {
      font: 20px/30px $main-font;
      padding: 10px 0 0 19px;
    }
  }
}

.form__additions {
  border: 0 none;
  margin: 0;
  padding: 0 20px 21px 20px;

  @media (min-width: $tablet-width) {
    padding: 0 0 72px 70px;
    display: flex;
    flex-wrap: wrap;
  }

  @media (min-width: $desktop-width) {
    padding: 0 0 57px 110px;
  }
}

.form__additions-legend {
  padding-bottom: 34px;

  @media (min-width: $tablet-width) {
    padding: 0 0 57px 0;
    font: 36px/36px $main-font;
  }
}

.form__additions-label {
  display: block;
  margin-bottom: 13px;
  font: 16px/18px $main-font;
  color: $basic-black;
  text-transform: uppercase;

  @media (min-width: $tablet-width) {
    font: 20px/29.6px $main-font;
    margin-bottom: 32px;
    margin-right: 123px;
  }
}

.form__button {
  margin: 0 20px 0 20px;
  padding: 7px 78px;
  font: 16px/20px $main-font;
  border: none;
}

.program-choice__obligatory {
  margin: 0;
  padding: 21px 0 32px 0;
  text-align: center;
  font: 14px/16px $second-font;
  color: $basic-black;
}
