.main-food {
  padding: 5px 0 25px 0;
  border-bottom: 1px solid $main-nav-borders;
}

.main-food__title {
  margin: 0;
  padding: 0 20px 39px 20px;
  font: 36px/36px $main-font;
  color: $basic-black;
  border-bottom: 1px solid $main-nav-borders;
}

.main-food__list {
  list-style-type: none;
  margin: 19px 0 25px 0;
  padding: 0;
}

.main-food__item {
  padding-bottom: 25px;
  border-bottom: 1px solid $main-nav-borders;
}

.main-food__item-sub-wrapper {
  display: flex;
  flex-wrap: wrap;
  margin: 0 20px 0 20px;
}

.main-food__item-image {
  margin: 14px 36px 12px 36px;
}

.main-food__item-table {
  margin: 0;
  margin-bottom: 9px;
  padding: 0;
}

.main-food__item-table--title {
  margin: 0;
  margin-bottom: 18px;
  padding: 0;
  font: 16px/20px $main-font;
  color: $main-food-item-titles;
  text-transform: uppercase;
}

.main-food__item-table-row {
  margin: 0;
  padding: 0;
  font: 12px/16px $second-font;
  color: $special-dark-grey;
}

.main-food__item-table-data--feature {
  padding-right: 69px;
}

.main-food__item-link {
  padding: 10px 109px;
  margin: 0 20px;
  font: 16px/20px $main-font;
}

.main-food__more {
  display: block;
  margin: 25px 145px 23px 145px;
}

.main-food__more-items {
  padding: 0;
  margin: 0;
  font: 16px/20px $main-font;
  color: $second-black;
  text-transform: uppercase;
  text-align: center;
}

.main-food__more-tastes {
  padding: 0;
  margin: 8px 0 21px 0;
  font: 12px/16px $second-font;
  color: $special-dark-grey;
  text-align: center;
}

.main-food__link-more {
  display: block;
  text-decoration: none;
  font: 16px/20px $main-font;
  color: $special-dark-grey;
  text-transform: uppercase;
  text-align: center;
  margin: 0 20px;
  padding: 10px 94px;
  background-color: $basic-grey;
}
