.page-footer {
  padding: 28px 0 22px 0;
  background-color: $basic-grey;

  @media (min-width: $tablet-width) {
    background-color: $basic-white;
    padding: 66px 0 61px 0;
  }
}

// .page-footer__wrapper {
//   background-color: $basic-grey;
// }

.page-footer__contacts {
  display: flex;
  align-items: stretch;
  // justify-content: space-between;
  padding: 0 20px 24px 20px;

  @media (min-width: $tablet-width) {
    padding: 0 30px 58px 30px;
  }
}

.contacts__text {
  margin: 0;
  padding: 0;
  width: 140px;
  font: 16px/18px $main-font;
  color: $second-black;
  text-transform: uppercase;

  @media (min-width: $tablet-width) {
    font: 20px/21px $main-font;
    margin: 0 295px 0 41px;
  }
}

.contacts__address {
  margin: 0;
  padding: 0;
  width: 140px;
  font: 14px/20px $second-font;
  color: $special-dark-grey;

  @media (min-width: $tablet-width) {
    font: 16px/20px $second-font;
    margin-right: 42px;
  }
}

.page-footer__location {
  margin-bottom: 39px;
}

.page-footer__link {
  display: block;
  text-align: center;
  padding-bottom: 32px;
  border-bottom: 1px solid $border-color;
}

.social__list {
  margin: 0;
  padding: 20px 93px;
  list-style-type: none;
  display: flex;
  border-bottom: 1px solid $border-color;
}

.social__link {
  display: block;
  text-decoration: none;
  margin-right: 35px;

  @media (min-width: $tablet-width) {
    margin-right: 21px;
  }
}

.page-footer__copyright {
  padding: 26px 20px;
  display: flex;
}

.copyright__link {
  display: block;
  text-decoration: none;
  font: 16px/18.4px $second-font;
  color: $special-dark-grey;
}
