.program-choice {
  padding-top: 5px;
}

.program-choice__title {
  margin: 0;
  padding: 0 20px 37px 20px;
  font: 36px/36px $main-font;
  color: $basic-black;
}

.program-choice__text {
  margin: 0;
  padding: 0 20px 39px 20px;
  font: 14px/18px $main-font;
  color: $basic-black;
  text-transform: uppercase;
}
