.programs {
  // padding-bottom: 45px;
}

.programs__list {
  list-style-type: none;
  margin: 0;
  padding: 0 20px 0 20px;

  @media (min-width: $tablet-width) {
    padding: 0 30px 0 30px;
  }

  @media (min-width: $desktop-width) {
    padding: 0 110px 0 110px;
    display: flex;
    flex-wrap: wrap;
  }
}

.programs__item {
  padding: 23px 22px 0 21px;
  margin-bottom: 20px;
  background-color: $basic-grey;

  @media (min-width: $tablet-width) {
    padding: 79px 314px 53px 52px;
    margin-bottom: 30px;
    position: relative;
  }

  @media (min-width: $desktop-width) {
    margin-right: 80px;
    padding: 41px 51px 55px 52px;
  }
}

.programs__item:last-child {
  @media (min-width: $tablet-width) {
    margin-bottom: 0;
  }

  @media (min-width: $desktop-width) {
    margin-right: 0;
    margin-bottom: 0;
  }
}

.programs__title {
  margin-top: 0;
  margin-bottom: 22px;
  padding: 0;
  font: 24px/27px $main-font;
  color: $basic-black;
  text-transform: uppercase;
  display: flex;
  align-items: center;

  @media (min-width: $tablet-width) {
    font: 36px/36px $main-font;
  }
}

.programs__title--slim::before {
  content: "";
  display: block;
  width: 50px;
  height: 53px;
  background: url("../img/cat-slim.svg") no-repeat center center;
  flex-shrink: 0;
  margin-right: 19px;

  @media (min-width: $tablet-width) {
    width: 200px;
    height: 211px;
    background-size: 200px 211px;
    position: absolute;
    right: 43px;
    top: 78px;
  }
}

.programs__title--pro {
  margin-left: -6px;

  @media (min-width: $tablet-width) {
    margin-left: 1px;
  }
}

.programs__title--pro::before {
  content: "";
  display: block;
  width: 67px;
  height: 50px;
  background: url("../img/cat-pro.svg") no-repeat center center;
  flex-shrink: 0;
  margin-right: 8px;

  @media (min-width: $tablet-width) {
    width: 268px;
    height: 200px;
    background-size: 268px 200px;
    position: absolute;
    right: 21px;
    top: 95px;
  }
}

.programs__description {
  font: 14px/18px $second-font;
  color: $special-dark-grey;
  margin: 0;
  padding: 0;
  padding-bottom: 22px;
  border-bottom: 1px solid $border-color;

  @media (min-width: $tablet-width) {
    font: 16px/24px $second-font;
    padding: 0;
    padding-bottom: 56px;
    border-bottom: none;
  }

  @media (min-width: $desktop-width) {
    padding: 77px 51px 55px 52px;
    border-bottom: none;
  }
}

.programs__catalog {
  display: flex;
  align-items: center;
  text-decoration: none;
  font: 16px/16px $main-font;
  color: $basic-black;
  padding: 19px 0 22px 0;
  text-transform: uppercase;

  @media (min-width: $tablet-width) {
    padding: 0;
    font: 20px/29.6px $main-font;
  }
}

.programs__catalog::after {
  content: "";
  display: block;
  width: 32px;
  height: 10px;
  background: url("../img/arrow-left.svg") no-repeat center center;
  flex-shrink: 0;
  margin-left: 15px;

  @media (min-width: $tablet-width) {
    margin-left: 25px;
  }
}
