.example__scale{
  width: 84px;
  height: 14px;
  box-sizing: border-box;
  border-radius: 6px;
  border: 1px solid #cdcdcd;
  padding: 4px;
  position: relative;
  background-color: #fff;
  overflow: hidden;
}

.example__scale-point{
  position: absolute;
  border-radius: 6px;
  background-color: #68B738;
  height: 6px;
  width: 35px;
  top: 3px;
  left: 3px;
  transform: translateX(var(--scale-move));
  cursor: pointer;
}
