$main-font: "Oswald", "Arial", "Helvetica", sans-serif;
$second-font: "Arial", "Helvetica", sans-serif;

$basic-black: #000000;
$second-black: #111111;
$basic-white: #ffffff;
$basic-green: #68b738;
$green-button-hover: #5eaa2f;
$basic-grey: #f2f2f2;
$special-dark-grey: #444444;
$border-color: #d9d9d9;
$grey-background: #eaeaea;
$input-color: #e7e7e7;
$main-nav-borders: #e6e6e6;
$main-food-item-titles: #222222;
$radio-buttons-color: #cdcdcd;
$show-more-food: #ebebeb;
$input-hover: rgba(205, 205, 205, 1);
$radio-buttons-hover: #bababa;
$scale-tablet-color: #dcdcdc;
$current-color: #666666;

$tablet-width: 768px;
$desktop-width: 1440px;
$mobile-width-only: 767px;
