$main-font: "Oswald", sans-serif;
$second-font: "Arial", sans-serif;

$basic-black: #000000;
$second-black: #111111;
$basic-white: #ffffff;
$basic-green: #68b738;
$basic-grey: #f2f2f2;
$special-dark-grey: #444444;
$border-color: #d9d9d9;
$grey-background: #eaeaea;
$input-color: #e7e7e7;
$main-nav-borders: #e6e6e6;
$main-food-item-titles: #222222;

$tablet-width: 768px;
$desktop-width: 1200px;
$mobile-width-only: 767px;
